<p><strong>Select Prior Surgeries:</strong></p>
<p>
    <label>
        <input type="checkbox" name="surgeries" value="Cataracts"> Cataracts
    </label>
</p>
<p>
    <label>
        <input type="checkbox" name="surgeries" value="Appendectomy"> Appendectomy
    </label>
</p>
<p>
    <label>
        <input type="checkbox" name="surgeries" value="Cholecystectomy"> Cholecystectomy
    </label>
</p>
<p>
    <label>
        <input type="checkbox" name="surgeries" value="Hernia Repair"> Hernia Repair
    </label>
</p>
